### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.json"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_json(file_to_load)
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

* Display the total number of players

In [2]:
#Number of Players
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]
#display the total number of players
pd.DataFrame({"Total Players" : [num_players]})

   Total Players
0            573

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data["Price"].head()
average = purchase_data["Price"].mean()
average

2.931192307692303

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# The value_counts method counts unique values in a column
#count = purchase_data["Gender"].value_counts()
count = player_demographics["Gender"].value_counts()
percent = count/num_players *100
gender_demographics = pd.DataFrame({"Total Count":count, "Percent of Player": percent})
gender_demographics

                       Total Count  Percent of Player
Male                           465          81.151832
Female                         100          17.452007
Other / Non-Disclosed            8           1.396161

In [5]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
#grouped_by_gender_df = purchase_data.groupby(['Gender'])
grouped_by_gender_df = player_demographics.groupby(['Gender'])
grouped_by_gender_df.count()

                        SN  Age
Gender
Female                 100  100
Male                   465  465
Other / Non-Disclosed    8    8


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
num_players = player_demographics.count()[0]
#display the total number of players
pd.DataFrame({"Total Purchase" : [num_players]})

In [ ]:
purchase_data["Price"].head()
average purchase price = purchase_data["Price"].mean()
average

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame